*{
    margin: 0px;
    padding: 0px;
}


.container{
    background-color: bisque;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:5px; 
    

}

.box{
    height:100px;
    width: 100px;
    margin:5px;
}
.first{
    background-color: green;
    flex-basis: 300
    px;
}
.two{
    background-color: blue;
}
.three{
    background-color: chocolate;
}
.four{
    background-color: crimson;
}