h1{
    background-color: aqua;
    height: 300px;
    width: 300px;
    border-width:5px;
    border-style:dashed;
    border-color:green;

    padding:10px;
    

    /* border: 10px solid green;
*/}
h2{
    background-color: pink;
    border: 2px solid blue;
}