

h1{
    background-color: aqua;
     border : 10px solid green ;
  padding-left: 10px;
  margin:10px;
  border-radius: 20px;
  padding:40px;
  margin:50px;

}

span{
    background-color: pink;
    height:300px;
    margin-left: 30px;
}
h2{
    background-color: red;
     border : 10px solid green ;
  padding-left: 10px;
  margin:10px;
  border-radius: 20px;
  padding:40px;
  margin:50px;

}