body{
    background-color: black;
    position: relative;
}

#container{
    height:200px;
    width : 300px;
    background-color: white;
    position: absolute;
    left:600px;
   top:300px;
    

     position: relative;
}


#circle{
    height: 100px ;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left:100px;
    bottom: 50px;;
}