h2{
    background-color: orange;
    position:relative;
    left:100px;

}
h3{
    background-color: pink;
    position:fixed;
    top:0px;
    left:250px;
}
p{
    background-color: black;
    color: white;
    border:white
}