h1{
    background-color: black;
}
/* id base selection # 
/* #first{
bacgraound-color:pink;
}*/

/* class based select */
/*.third{
color: green;*/
/* h1{
font-size: 80px;
font-family: italic;
font-weight: 900;
font-style:
}